{% extends "templates/navigatable.html.j2" %}

{% block _header %}
    {% block title %}{{ appName }}{% endblock title %}
{% endblock _header %}

{% block header %}
    {{ super() }}
    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/root.css') }}"> #}
{% endblock header %}

{% block content %}
    <DataCard 
        title="{{ contributor['name'] }}" 
        subtitle="{{ contributor['uri'] }}"
        elements="{{ contributor }}"
    ></DataCard>
{% endblock content %}
