{% extends "base.html.j2" %}

{% block header %}
    {% block title %}Page not found{% endblock title %}
{% endblock header %}

{% block body %}
<h1>404</h1>
<h2>Page not found</h2>
{% endblock body %}